@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&display=swap');

html,
body {
  font-family: var(--dm-sans), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-size-adjust: none; /* Prevent automatic zooming of fonts on some mobile devices. */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* Consistent font display behavior on OSX. */
  -moz-osx-font-smoothing: grayscale; /* Consistent font display behavior on OSX. */
  margin: 0;
  line-height: inherit;

  background:var(--background);
  color: var(--foreground);
}

[for=plugin]{
   color:var(--foreground) !important;
}

.btn-primary {
  color: var( --btn-fg);
  background-color: var(--btn-bg);
  border-radius: 0.3rem !important;
  border: 1px solid  #E2107B;
}
.btn-secondary {
  background: none;
  box-shadow: inset 0 0 0 1px rgb(var(--trunks)/1);

  border-radius: 0.3rem !important;
  border: 1px solid var(--btn-sec-fg);
  color: var(--btn-sec-fg);
}

.btn-tertiary {
  color: var(--btn-fg);
  background-color: var(--btn-bg);
  border-radius: 0.3rem !important;
  border: 1px solid  #E2107B;
}

.bg-gohan {
  background-color: #fff;
}
.text-goten {
  --tw-text-opacity: 1;
  color: var(--link-text);
}

label[for="plugin"] > span {
  margin-right: 1rem;
}

a.active {
  background: #4e46b4;
  border-radius: 8px;
  color: white;
}


button.white {
  background: white;
  border: 1px solid #ffffff;
}

button.white>span>span {
  background: black;
    border: 1px solid #ffffff;
}
button.black{
  background-color: black;
  border: 0.2px solid #ffffff;
}
